/* .card-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  text-align: center;
  margin: auto;
}

.card-text-body {
  display: flex;
  flex-direction: column;
  min-width: 0;
} */

.card-image {
  height: auto;
  /* max-height: 250px; */
  max-height: 125px;
  width: auto;
  max-width: 100px;
  margin: auto;
  vertical-align: middle;
}

.cardClass {
  display: flex;
  height: 100%;
  margin: 16px;
  padding: 8px;
  object-fit: cover;
  text-align: center;
  padding-top: 2rem;
}

.btn-detail a {
  color: white;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* max-height: 100px; */
}
