.btn-primary {
  background-color: #fff;
  color: blue;
}

.disabled {
  background-color: #fff !important;
  color: blue !important;
  border-left: #fff !important;
  border-right: #fff !important;
  border-color: #0d6efd;
}

.btn-left {
  border-right: #fff !important;
}

.btn-right {
  border-left: #fff !important;
}
